* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    /* font-family: "Comic Sans MS"; */
    font-family: serif;
    font-size: 2rem;
    line-height: 1.5;
}

h1 {
    color: var(--primary-color);
}

:root {
    --gap: 3rem;
    --border-color: #eee;
    --background : #000;
    --primary-color: #fff;
    --viavi-purple: #4c385f;
    --viavi-light-purple: #73548f;
}

.section {
    min-height: 100vh;
}

.main-content {
    margin: 0 auto;
    max-width: 120rem;
    padding: 12rem var(--gap);
}

.main-bg {
    background-color: var(--background);
    background-position: center center;
    background-size: cover;
    color: var(--primary-color);
}

.logo-content {
    display: flex;
    max-width: 120rem;
    justify-content: center;
    margin-bottom: 2rem;
}

.logo-img {
    width: 40rem;
    height: 8rem;
}

.text-content {
    display: flex;
    max-width: 120rem;
    justify-content: center;
    margin-bottom: 10rem;
}

.button-content {
    display: flex;
    justify-content: center;
}

.button {
    background-color: var(--viavi-purple);
    border: none;
    color: var(--primary-color);
    padding: 1.5rem 3.2rem;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 2rem;
    transition-duration: 200ms;
}

.button:hover {
  background-color: var(--viavi-light-purple);
  color: var(--primary-color);
}

.span {
    width: 2rem;
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }
    
    .button-content {
        display: flex;
        align-items: center;
    }

    .span {
        height: 2rem;
        width: 2rem;
    }

    .button {
        font-size: 1rem;
        padding: 1rem 2rem;

    }

    .logo-img {
        width: 15rem;
        height: 3rem
    }
}